body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 20px;
    background-color: peru;
    border: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    background: white;
    color: peru;
    padding: 10px 0;
    text-align: center;
}

.h1 {
    margin: 0;
    text-align: center;
}

.ul {
    padding: 0;
    list-style: none; 
}

.li {
    display: inline;
    margin-right: 10px;
}

.a {
    color: brown;
    text-decoration: none;
}

h2 {
    color: rgb(43, 150, 226);
    margin-top: 10px;
}

h3 {
    color: rgb(0, 204, 255);
}

h1, h2, h3 {
    text-align: left;
    margin: 20px;

}

p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: left;
    margin: 10px;
    
}

a {
    color: #50989f;
}

